body {
  background-color: var(--cream);
  font-family: var(--bodytext);
}
h1 {
  font-family: var(--titletext);
  font-size: 100px;
  color: var(--brown);
  padding: 0px;
  padding-top: 60px;
  margin: 0px;
}
h2 {
  padding: 0px;
  margin: 0px;
  font-family: var(--titlefont);
  font-size: 80px;
  color: var(--brown);
}
h3 {
  font-family: var(--bodyfont);
  font-size: var(--xl);
  font-style: italic;
  color: var(--black);
  margin-top: 0px;
}
.landing-container {
  width: 500px;
  margin-left: 150px;
}

a:link {
  padding: 0px;
  margin: 0px;
  font-family: var(--titlefont);
  font-size: 30px;
  color: var(--brown);
}

a:visited {
  padding: 0px;
  margin: 0px;
  font-family: var(--titlefont);
  font-size: 30px;
  color: var(--brown);
}
.bread-emoji {
  width: 120px;
  margin-top: 110px;
}

.centered {
  position: absolute;
  top: 100%;
}

.demo {
  font-size: 70px;
  left: 100px;
}

iframe {
  position: absolute;
  top: 140%;
  left: -50px;
  padding-bottom: 100px;
}
