body  {
    background-color: var(--cream);
    font-family: var(--bodytext);
}
h1 {
    font-family: var(--titletext);
    font-size: 100px;
    color: var(--brown);
    padding: 0px;
    padding-top: 60px;
    margin: 0px;
}
h2 {
    padding: 0px;
    margin: 0px;
    font-family: var(--titlefont);
    font-size: 60px;
    color: var(--brown);
}
h3 {
    font-family: var(--bodyfont);
    font-size: var(--l);
    font-style: italic;
    color: var(--black);  
}
div {
    margin-top: 100px;
    width: 400px;
    margin: auto;
}

a:link {
    padding: 0px;
    margin: 0px;
    font-family: var(--titlefont);
    font-size: 30px;
    color: var(--brown);
}

a:visited {
    padding: 0px;
    margin: 0px;
    font-family: var(--titlefont);
    font-size: 30px;
    color: var(--brown);
}