body {
    margin: default;
    padding: default;
    font-family: var(--bodyfont);;
}

.mapboxgl-popup{
    width: 400px;
}

.marker {
    width: 300px;
    background-color: red;
}

img {
    width: 100%;
}

.crumb-popup {
    width: 50px;
}

.popup-title {
    font-family: var(--titlefont);
    font-size: var(--m);
}