body {
    margin: default;
    padding: default;
    font-family: var(--bodyfont);
}
.header {
    background-color: var(--cream);

    /* DROP SHADOW
    -webkit-box-shadow: 0px 10px 22px 0px var(--brown);
    -moz-box-shadow: 0px 10px 22px 0px var(--brown);
    box-shadow: 0px 10px 22px 0px var(--brown); */

    height: 100px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

    font-family: var(--titlefont);
    font-size: var(--l);
    padding: 20px;
}

.mapboxgl-popup{
    width: 400px;
}

button {
    border: none;
    background-color: transparent;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

.marker:hover{
    cursor: pointer; 
}

.finish-button {
    width: 100px;
    height: 60px;
    background-color: var(--brown);
    position: absolute;
    top: 80px;
    right: 20px;
    border-radius: 100px;

    font-family: var(--bodyfont);
    font-size: var(--m);
    color: var(--cream);
}

.popup-image {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.marker {
    width: 300px;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
}

.crumb-popup {
    width: 50px;
}

.popup-title {
    font-family: var(--titlefont);
    font-size: var(--m);
    padding-top: 10px;
}