.infoContainer {
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
}

.profileName {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: 5;
  color: black;
  padding: 0px;
}

.journeyNumber {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  font-weight: 5;
  color: black;
  opacity: .7;
  padding: 0px;
}

.about {
  font-family: "DM Sans", sans-serif;
  font-size: 3;
  font-weight: 5;
  color: black;
}

.plus {
  width: 50px;
  height: 50px;
  /* display: inline-block; */
  background: linear-gradient(var(--brown), var(--brown)) top left,
    linear-gradient(var(--brown), var(--brown)) top right,
    linear-gradient(var(--brown), var(--brown)) bottom left,
    linear-gradient(var(--brown), var(--brown)) bottom right;
  background-size: calc(50% - 1px) calc(50% - 1px); /*thickness = 2px (2*1px) */
  background-repeat: no-repeat;
  border: 10px solid var(--brown); /*length = 30px (50px - 2x10px) */
  box-sizing: border-box;
  float: right;
  margin-right: 30px;
}

.minus {
  width: 50px;
  height: 50px;
  /* display: inline-block; */
  background: linear-gradient(var(--brown), var(--brown)) top left,
    linear-gradient(var(--brown), var(--brown)) top right,
    linear-gradient(var(--brown), var(--brown)) bottom left,
    linear-gradient(var(--brown), var(--brown)) bottom right,
    linear-gradient(var(--brown), var(--brown)) bottom center,
    linear-gradient(var(--brown), var(--brown)) top center;
  background-size: calc(50% - 1px) calc(50% - 1px); /*thickness = 2px (2*1px) */
  background-repeat: no-repeat;
  border: 10px solid var(--brown); /*length = 30px (50px - 2x10px) */
  box-sizing: border-box;
  float: right;
  margin-right: 30px;
}
.radius {
  border-radius: 50%;
}

.journeyButton {
  margin: var(--m);
}

.linkDisplay {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 3px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 40px;
}

.flex-container > div {
  border: var(--brown) 1px solid;
  border-radius: var(--s);
  padding: 45px 0px 45px 30px;
  flex-basis: 250px;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0.5em;
}

h3.warning {
  margin: 50px;
}

.loading {
  text-align: center;
  vertical-align: middle;
  line-height: 600px;
  font-size: var(--xl);
  font-style: italic;
  font-weight: 800;
}

.deleteMessage {
  font-size: 20px;
}
