.Card-container {
  border: var(--brown) 1px solid;
  border-radius: var(--xs);
  margin-top: var(--m); 
}

.Card-story {
  padding: var(--m) var(--l);
  border: 1px;
  justify-content: center;
}

.Card-storyUser {
  font-size: 20px;
  font-weight: 600;
}

.Card-storyContent {
  font-size: 15px;
  margin: var(--s) 0 0;
}

.minus {
  width: 10px;
  height: 22px;
  /* display: inline-block; */
  background: linear-gradient(var(--brown), var(--brown)) top left,
    linear-gradient(var(--brown), var(--brown)) top right,
    linear-gradient(var(--brown), var(--brown)) bottom left,
    linear-gradient(var(--brown), var(--brown)) bottom right,
    linear-gradient(var(--brown), var(--brown)) bottom center,
    linear-gradient(var(--brown), var(--brown)) top center;
  background-size: calc(50% - 1px) calc(50% - 1px); /*thickness = 2px (2*1px) */
  background-repeat: no-repeat;
  border: 5px solid var(--brown); /*length = 30px (50px - 2x10px) */
  box-sizing: border-box;
  /* float: top right; */
  margin-right: 30px;
  margin-top: -45px;
  margin-right: 0px;
}

.radius {
  border-radius: 50%;
}

.deleteButton {
  margin: var(--xs);
}
