.Card-container {
  border: var(--brown) 1px solid;
  border-radius: var(--xs);
  margin-top: var(--m);
}

.Card-content {
  padding: 45px 0px 45px 30px;
}
.Card-story {
  padding: var(--m) var(--l);
  border: 1px;
  justify-content: center;
}

.Card-storyUser {
  font-size: 20px;
  font-weight: 600;
}

.Card-storyContent {
  font-size: 15px;
  margin: var(--s) 0 0;
}

.minus {
  width: 50px;
  height: 50px;
  /* display: inline-block; */
  background: linear-gradient(var(--brown), var(--brown)) top left,
    linear-gradient(var(--brown), var(--brown)) top right,
    linear-gradient(var(--brown), var(--brown)) bottom left,
    linear-gradient(var(--brown), var(--brown)) bottom right,
    linear-gradient(var(--brown), var(--brown)) bottom center,
    linear-gradient(var(--brown), var(--brown)) top center;
  background-size: calc(50% - 1px) calc(50% - 1px); /*thickness = 2px (2*1px) */
  background-repeat: no-repeat;
  border: 10px solid var(--brown); /*length = 30px (50px - 2x10px) */
  box-sizing: border-box;
  float: right;
  margin-right: 30px;
}

.radius {
  border-radius: 50%;
}

.deleteButton {
  margin: var(--m);
}

.JourneyCard {
  padding-top: 0px;
}

.Card-menu {
  float: right;
}
