.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--brown);
}

.NavBar-title {
  font-family: var(--titletext);
  color: var(--cream);
  font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  opacity: 0.6;
  text-decoration: none;

  font-family: var(--titletext);
  color: var(--cream);
  font-size: 20px;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
  position: relative;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.google-button {
  float: right;
}
