.nav-icon {
    background-color: var(--brown);
    height: 24px;
    width: 24px;
    position: absolute;
    top: 80px;
    left: 20px;
    border-radius: 100px;
    padding: 16px;
  }
  .nav-icon:hover{
    cursor: pointer;
  }

  .close-button {
    display: flex;
    flex-direction: row-reverse;
    z-index: 9999;
    padding: 20px;
    color: var(--brown);
  }

  .close-button:hover{
    cursor: pointer;
  }

  .crumb-side-entry {
    color: var(--brown);
    margin: auto;
    width: 300px;
    border-radius: 10px;
    background-color: var(--cream);
    border: 1px solid var(--brown);
    margin-bottom: 20px;

    font-family: var(--bodyfont);
    font-size: var(--m);
    padding: 10px;
  }

  .crumb-side-entry:hover {
    cursor: pointer;
  }
  
  .nav-menu {
    background-color: var(--brown);
    width: 350px;
    height: 110vh;

    /* display: flex;
    flex-direction: column;
    justify-content: left; */

    position: fixed;
    left: -100%;
    top: -10px;
    transition: 850ms;
    overflow: hidden;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  span {
    /* margin-left: 16px; */
    color: var(--brown);
    font-family: var(--titlefont);
    font-size: 16px;
  }
  